<!-- This is the page which shows all the questions, the answer choices, and their answers for viewing -->
{% extends "base.html" %}

{% block title %}
Database
{% endblock %}

{% block style %}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}
{% endblock %}

{% block func %}
onbeforeunload="return leave()"
{% endblock %}

{% block body %}
<!-- JS which sets on_db_page to true when the user is on this page and sets on_db_page to false when the user navigates away from this page. Also, if the user is currently taking the test, don't show the database and instead display an error message. -->
<script>
    var testActive = localStorage.getItem("testActive"); 

    if (testActive === "true")
    {
        window.location.href="http://127.0.0.1:5000/error";
    }
    else
    {
        var on_db_page = localStorage.getItem("on_db_page"); 
        on_db_page = "true"; 
        localStorage.setItem("on_db_page", on_db_page);
    } 

    function leave()
    {
        var on_db_page = "false";
        localStorage.setItem("on_db_page", on_db_page); 
    }
    
</script>

<!-- Shows the multiple choice questions -->
<h1> Multiple Choice Questions</h1>
<table style="width: 100%">
    <thead>
        <tr>
            <th>Question</th>
            <th>ChoiceA</th>
            <th>ChoiceB</th>
            <th>ChoiceC</th>
            <th>ChoiceD</th>
            <th>Correct Answer</th>
        </tr>
    </thead>

    <tbody>
        {% for row in MCQTable %}
        <tr>
            {% for i in range(6) %}
                {% if i == 0 %}
                <th>{{ row[0] }}. {{ row[i+1] }}</th>

                {% else %}
                <th>{{ row[i+1] }}</th>

                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<br>
<br>
<br>
<br>

<!-- Shows the True/False questions -->
<h1>True/False Questions</h1>
<table style="width: 100%">
    <thead>
        <tr>
            <th>Question</th>
            <th>Correct Answer</th>
        </tr>
    </thead>

    <tbody>
        {% for row in TFTable %}
        <tr>
            <th>{{ row[0] }}. {{ row[1] }}</th>
            <th>{{ row[2] }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<br>
<br>
<br>
<br>

<!-- Shows the fill-in-the-blank questions -->
<h1>Fill-In-The-Blank Questions</h1>
<table style="width: 100%">
    <thead>
        <tr>
            <th>Question</th>
            <th>Correct Answer</th>
        </tr>
    </thead>

    <tbody>
        {% for row in FITBQ %}
        <tr>
            <th>{{ row[0] }}. {{ row[1] }}</th>
            <th>{{ row[2] }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>


<br>
<br>
<br>
<br>
<br>


<!-- Shows the dropdown questions -->
<h1>Dropdown Questions</h1>
<table style="width: 100%">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer Choice 1</th>
            <th>Answer Choice 2</th>
            <th>Answer Choice 3</th>
            <th>Answer Choice 4</th>
            <th>Correct Answer</th>
        </tr>
    <thead>

    <tbody>
        {% for row in Dropdown %}
        <tr>
            {% for i in range(6) %}
                {% if i == 0 %}
                <th>{{ Dropdown.index(row) + 1}}. {{ row[i] }}</th>

                {% else %}
                <th>{{ row[i] }}</th>

                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
