<!-- This is the home page with links to the test, the page which shows the database with all the questions, and the Q&A Page. -->
{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block text %}
text-align: center; 
{% endblock %}


{% block body %}
<h1>FBLA Test</h1>

<h3 id="greeting"> </h3>
<button class="button" type="button" onclick="window.location.href = 'http://127.0.0.1:5000/database';"> Click here to see the database of all the questions and answers!</button>
<br>
<button class="button" type="button" onclick="window.location.href = 'http://127.0.0.1:5000/beforetest';"> Click here to take the test!</button>
<br>
<button class="button" type="button" onclick="window.location.href = 'http://127.0.0.1:5000/qa';"> Click here if you have any questions (Q&A Page) </button>
<br>
<img src="https://www.fbla-pbl.org/media/FBLA-Color-web.png" alt="FBLA Logo" style="width:600px;height:550px;">
<p> FBLA. FBLA-PBL Logo. www.fbla-pbl.org/media/FBLA-Logo-Color.png. </p>

<script>
    var name = localStorage.getItem("name"); 
    document.getElementById("greeting").innerHTML = "Hi " + name + "!"; 
</script>
{% endblock %}
