<!-- This is the page which shows the user's scores after they have submitted the test -->
{% extends "base.html" %}

{% block title %}
Your Score
{% endblock %}

<!-- The navbar -->
{% block nav %}
<body {% block func %} {% endblock %}>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/beforetest">Take the Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/database">Database of Questions</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block body %}
<!-- Displays your score -->
<h1>Your Score:</h1>

<h2 id="score"> </h2>

<!-- Displays your time -->

<h1> Time Taken: </h1>

<h2 id="time"> </h2>

<!-- Displays the questions and answer choices that were on the test that you just took. Displays what you answered and what the correct answer was. -->

<h1> Question Analysis </h1>

<p> 1. {{ MCQ[0] }} </p>
<p> A. {{MCQ[1]}} </p>
<p> B. {{MCQ[2]}} </p>
<p> C. {{MCQ[3]}} </p>
<p> D. {{MCQ[4]}} </p>
<p id="q1UserAnswerChoice"> </p>
<p> Correct Answer: {{MCQ[5]}} </p>
<br>
<br>
<p> 2. {{TFQ[0]}} </p>
<p id="q2UserAnswerChoice"></p>
<p> Correct Answer: {{TFQ[1]}} </p>
<br>
<br>
<p>3. {{FITB[0]}} </p>
<p id="q3UserAnswer"></p>
<p> Correct Answer: {{FITB[1]}} </p>
<br>
<br>
<p>4. {{Dropdown[0]}} </p>
<p> Answer Choice 1: {{Dropdown[1]}} </p>
<p> Answer Choice 2: {{Dropdown[2]}} </p>
<p> Answer Choice 3: {{Dropdown[3]}} </p>
<p> Answer Choice 4: {{Dropdown[4]}} </p>
<p id="q4UserAnswer"> </p>
<p> Correct Answer: Answer Choice {{Dropdown[5]}} </p>
<br>
<br>
{% if randomQ == "MCQ" %}
    <p> 5. {{ MCQ1[0] }} </p>
    <p> A. {{MCQ1[1]}} </p>
    <p> B. {{MCQ1[2]}} </p>
    <p> C. {{MCQ1[3]}} </p>
    <p> D. {{MCQ1[4]}} </p>
    <p id="q5UserAnswer"> </p>
    <p> Correct Answer: {{MCQ1[5]}} </p>
{% elif randomQ == "TFQ" %}
    <p> 5. {{TFQ1[0]}} </p>
    <p id="q5UserAnswer"> </p>
    <p> Correct Answer: {{TFQ1[1]}} </p>
{% elif randomQ == "FITB" %}
    <p>5. {{FITB1[0]}} </p>
    <p id="q5UserAnswer"> </p>
    <p> Correct Answer: {{FITB1[1]}} </p>

{% else %}
    <p>5. {{Dropdown1[0]}} </p>
    <p> Answer Choice 1: {{Dropdown1[1]}} </p>
    <p> Answer Choice 2: {{Dropdown1[2]}} </p>
    <p> Answer Choice 3: {{Dropdown1[3]}} </p>
    <p> Answer Choice 4: {{Dropdown1[4]}} </p>
    <p id="q5UserAnswer"> </p>
    <p> Correct Answer: Answer Choice {{Dropdown1[5]}} </p>
{% endif %}
<br>
<br>
<button class="button" type="button" onclick="window.print()">Print Your Results</button>

<script>
    //Gets the user's answer for each question fron localStorage and displays them in the <p> tags above. Also, gets the user's time and displays it. 
    var score = localStorage.getItem("score");
    var correct = localStorage.getItem("correct");  
    document.getElementById("score").innerHTML = score + "%, " + correct + "/5"; 
    var time = localStorage.getItem("time"); 
    document.getElementById("time").innerHTML = time; 
    var q1UserAnswerChoice = localStorage.getItem("q1UserAnswerChoice"); 
    document.getElementById("q1UserAnswerChoice").innerHTML = "You Answered: " + q1UserAnswerChoice; 
    var q2UserAnswerChoice = localStorage.getItem("q2UserAnswerChoice"); 
    document.getElementById("q2UserAnswerChoice").innerHTML = "You Answered: " + q2UserAnswerChoice; 
    var q3UserAnswer = localStorage.getItem("q3UserAnswer"); 
    document.getElementById("q3UserAnswer").innerHTML = "You Answered: " + q3UserAnswer; 
    var q4UserAnswer = localStorage.getItem("q4UserAnswer"); 
    document.getElementById("q4UserAnswer").innerHTML = "You Answered: " + q4UserAnswer;
    var q5UserAnswer = localStorage.getItem("q5UserAnswer"); 
    document.getElementById("q5UserAnswer").innerHTML = "You Answered: " + q5UserAnswer;
</script>
{% endblock %}
