<!-- This is the actual test page, with a 5-question quiz made up of 4 different types of questions: Multiple Choice, True/False, Fill-In-The-Blank, and Dropdown. There is also a 20 minute time limit.  -->
{% extends "base.html" %}

{% block title %}
Test!
{% endblock %}

{% block style %}
.right {
    border: 3px;
    border-style: solid;
    border-color: #FF0000;
    padding: 10px;
    font-size: 25px;
}
{% endblock %}

{% block func %}
onload="startTimer()"
{% endblock %}

{% block body %}
    <script>

        //Timer minutes and seconds
        var min = 0; 
        var sec = 0; 

        //The function to start and run the timer
        function startTimer()
        {
            var timer = setInterval(
            function() {
                document.getElementById('testTimerText').innerHTML = min + ':' + sec;
                if (sec == 59)
                {
                    sec = -1;
                    min++;
                }

                sec++;
                
            }
            , 1000
            );
        }

        //The function which is going to check the answers and produce the user's scores. Uses a lot of functions defined below it as well. 
        function check()
        { 
            //Creates global variables that can be used in other functions
            globalThis.correct;
            globalThis.q5; 
            globalThis.q5UserAnswer; 
            globalThis.q5Answered = true;
            globalThis.q1ans = true;
            globalThis.q2ans = true;
            globalThis.q3ans = true;
            globalThis.q4ans = true;
            globalThis.q5ans = true;
            globalThis.unans = 0; 

            //For the first 4 questions, gets the user's answer for that question and/or the value of the user's answer (whether is was correct or not)
            var q1 = document.MCQ.getElementsByTagName("input");
            var q1Answered = true;
            var q1UserAnswer = document.MCQ.MCQ.value;
            var q2 = document.TFQ.getElementsByTagName("input");
            var q2Answered = true; 
            var q2UserAnswer = document.TFQ.TFQ.value;
            var q3 = document.getElementById('UserAnswer').value.trim().toLowerCase(); 
            var q4 = document.getElementById("Dropdown").value; 

            //Checks if each of the first four questions was answered or left blank
            if (checkMultipleChoice(q1, q1Answered) == false)
            {
                unans++; 
                q1UserAnswer = "incorrect";
                q1ans = false;  
            }
            if (checkMultipleChoice(q2, q2Answered) == false)
            {
                unans++; 
                q2UserAnswer = "incorrect"; 
                q2ans = false; 
            }
            if (q3 == "")
            {
                unans++; 
                q3ans = false; 
            }
            if (q4 == "choose")
            {
                unans++; 
                q4ans = false; 
            }
            //Stores in q5Type the type of questions of the 5th question (MCQ, TFQ, FITB, or Dropdown)
            var q5Type = document.getElementById("question5").name; 
            QuestionFive(q5Type); 

            //Checks if the 5th question was answered or left blank
            checkQuestionFiveAnswered(q5, q5Answered, q5Type);

            //If the timer was done or if you answered all the questions, it automatically runs the function checkAnswered and redirects you to the score page. If you left 1 or more questions unsanswered, then it pops up an alert warning you that you did not answer however mann questions and if you are sure you want to submit. 
            if (unans >= 1)
            {
                if (confirm("You did not answer " + unans + " question(s)! Are you sure you want to submit?"))
                {
                    checkAnswers(q1UserAnswer, q2UserAnswer, q3, q4, q5UserAnswer, q5Type); 
                }
                else
                {
                    return false;
                }
            }
            else
            {
                if (confirm("Are you sure you want to submit?"))
                {
                    checkAnswers(q1UserAnswer, q2UserAnswer, q3, q4, q5UserAnswer, q5Type);  
                }
                else
                {
                    return false;
                }
            } 
        }

        //Checks if a multiple choice or true/false questions was answered or not. Called in the check() function
        function checkMultipleChoice(x, y)
        {
            for (i = 0; i < x.length; i++)
            {
                if (x[i].checked)
                {
                    y = true; 
                    return y; 
                    break;  
                }
                if (i == x.length-1)
                {
                    y = false;
                    return y;  
                }
            }
        }

        //Based on what the 5th question's type is, gets its value
        function QuestionFive(q5Type)
        {
            if (q5Type == "MCQ1")
            { 
                q5 = document.MCQ1.getElementsByTagName("input"); 
                q5UserAnswer = document.MCQ1.MCQ1.value;   
            }
            else if (q5Type == "TFQ1")
            {
                q5 = document.TFQ1.getElementsByTagName("input");
                q5UserAnswer = document.TFQ1.TFQ1.value; 
            }
            else if (q5Type == "FITB1")
            {
                q5 = document.getElementById('UserAnswer1').value.toLowerCase();
                q5UserAnswer = document.getElementById('UserAnswer1').value.toLowerCase();
            }
            else
            {
                q5 = document.getElementById("Dropdown1").value;
                q5UserAnswer = document.getElementById("Dropdown1").value;
            }
        }

        //Checks whether the 5th question was answered or not
        function checkQuestionFiveAnswered(q5, q5Answered, q5Type)
        {
            if (q5Type == "MCQ1" || q5Type == "TFQ1")
            {
                if (checkMultipleChoice(q5, q5Answered) == false)
                {
                    q5UserAnswer = "incorrect"; 
                    unans++; 
                    q5ans = false; 
                }
            }

            else if (q5Type == "FITB1")
            {
                if (q5 == "")
                {
                    q5UserAnswer = ""; 
                    unans++; 
                    q5ans = false; 
                }
            }
            else
            {
                if (q5 == "choose")
                {
                    q5UserAnswer = "choose"; 
                    unans++; 
                    q5ans = false; 
                }
            }
        }

        //Checks your answers to see how many you got right and stores them in a localStorage variable so that they can be used in score.html
        function checkAnswers(q1, q2, q3, q4, q5, q5Type)
        {
            correct = 0;  
            if (q1ans == true)
            {
                if (q1=="correct")
                {
                    correct++;
                } 
                var x = document.getElementsByName("MCQ"); 
                for (i=0; i<5; i++)
                {
                    if (x[i].checked)
                    {
                        var q1UserAnswerChoice = x[i].id; 
                        break; 
                    }
                }
                localStorage.setItem("q1UserAnswerChoice", q1UserAnswerChoice)
            }
            else
            {
                localStorage.setItem("q1UserAnswerChoice", "Unanswered")
            }
            
            if (q2ans == true)
            {
                if (q2=="correct")
                { 
                    correct++;
                }
                var y = document.getElementsByName("TFQ"); 
                for (j=0; j<3; j++)
                {
                    if (y[j].checked)
                    {
                        var q2UserAnswerChoice = y[j].id; 
                        break; 
                    }
                }
                localStorage.setItem("q2UserAnswerChoice", q2UserAnswerChoice)
            }
            else
            {
                localStorage.setItem("q2UserAnswerChoice", "Unanswered")
            }

            if (q3ans == true)
            {
                if (q3 == document.getElementById("UserAnswer").name)
                {
                    correct++;
                } 
                localStorage.setItem("q3UserAnswer", q3)
            }
            else
            {
                localStorage.setItem("q3UserAnswer", "Unanswered")
            }
            
            if (q4ans == true)
            {
                if (q4=="correct")
                {
                    correct++;
                }
                var z = document.getElementById("Dropdown"); 
                var b = z.selectedIndex; 
                var q4UserAnswer = z[b].id; 
                localStorage.setItem("q4UserAnswer", q4UserAnswer)
            }
            else
            {
                localStorage.setItem("q4UserAnswer", "Unanswered")
            }
            
            if (q5ans == true)
            {
                if (q5Type == "MCQ1" || q5Type == "TFQ1")
                { 
                    if (q5=="correct")
                    {
                        correct++;
                    }
                    function getq5UserAnswer(q5Type)
                    {
                        var a = document.getElementsByName(q5Type); 
                        for (l=0; l<5; l++)
                        {
                            if (a[l].checked)
                            {
                                var q5UserAnswer = a[l].id; 
                                break; 
                            }
                        }
                        localStorage.setItem("q5UserAnswer", q5UserAnswer)
                    }

                    getq5UserAnswer(q5Type);        
                }

                else if (q5Type == "Dropdown1")
                {
                    if (q5=="correct")
                    {
                        correct++;
                    }
                    var c = document.getElementById("Dropdown1"); 
                    var d = c.selectedIndex; 
                    var q5UserAnswer = c[d].id; 
                    localStorage.setItem("q5UserAnswer", q5UserAnswer)
                }

                else
                {
                    if (q5 == document.getElementById("UserAnswer1").name)
                    {
                        correct++;
                    }
                    localStorage.setItem("q5UserAnswer", q5)
                }
            }
            else
            {
                localStorage.setItem("q5UserAnswer", "Unanswered")
            }
            
            //The user's score out of 100
            var score = (correct/5) * 100;

            //Stores the user's score in a variable in localStorage so that it can be used in score.html
            localStorage.setItem("score", score);
            localStorage.setItem("correct", correct); 

            //Store the user's time taken in a variable in localStorage so that it can be used in score.html
            var realSec = sec-1; 
            localStorage.setItem("time", min + ":" + realSec); 

            //Redirect to the score.html page
            location.href = "http://127.0.0.1:5000/score";
        }

    </script>
    
    <!-- The timer text  -->
    <div id="testTimer" class="right">
        <p id="testTimerText"></p>
    </div>

    <!-- The 1st multiple choice question. Based on what the answer is, the value of the input in each set changes. For example, if the answer is A, then the first input tag's value will be correct while the others are incorrect.  -->
    <form name="MCQ" id="MCQ">
        <div>
            <p> 1. {{ MCQ[0] }} </p>
            {% if MCQ[5].strip() == "A" %}
            <p> <input type="radio" name="MCQ" value="correct" id="A"> {{ MCQ[1] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="B"> {{ MCQ[2] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="C"> {{ MCQ[3] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="D"> {{ MCQ[4] }} </p>

            {% elif MCQ[5].strip() == "B" %}
            <p> <input type="radio" name="MCQ" value="incorrect" id="A"> {{ MCQ[1] }} </p>
            <p> <input type="radio" name="MCQ" value="correct" id="B"> {{ MCQ[2] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="C"> {{ MCQ[3] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="D"> {{ MCQ[4] }} </p>
            {% elif MCQ[5].strip() == "C" %}
            <p> <input type="radio" name="MCQ" value="incorrect" id="A"> {{ MCQ[1] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="B"> {{ MCQ[2] }} </p>
            <p> <input type="radio" name="MCQ" value="correct" id="C"> {{ MCQ[3] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="D"> {{ MCQ[4] }} </p>
            {% else %}
            <p> <input type="radio" name="MCQ" value="incorrect" id="A"> {{ MCQ[1] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="B"> {{ MCQ[2] }} </p>
            <p> <input type="radio" name="MCQ" value="incorrect" id="C"> {{ MCQ[3] }} </p>
            <p> <input type="radio" name="MCQ" value="correct" id="D"> {{ MCQ[4] }} </p>
            {% endif %}
        </div>
    </form>

    <br>

    <!-- The True/False question.  -->
    <form name="TFQ" id="TFQ">
        <div>
            <p> 2. {{ TFQ[0] }} </p>
            {% if TFQ[1].strip() == "True" %}
            <p> <input type="radio" name="TFQ" value="correct" id="True"> True </p>
            <p> <input type="radio" name="TFQ" value="incorrect" id="False"> False </p>
            {% else %}
            <p> <input type="radio" name="TFQ" value="incorrect" id="True"> True </p>
            <p> <input type="radio" name="TFQ" value="correct" id="False"> False </p>
            {% endif %}

        </div>
    </form>
    <br>

    <!-- The fill-in-the-blank question.  -->
    <form name="FITB" id="FITB">
        <div>
            <p> 3. {{ FITB[0] }} </p>
            <br>
            <input type="text" name="{{FITB[1]}}" id="UserAnswer" autocomplete="off">
        </div>
    </form>
    <br>
    <br>

    <!-- The dropdown question.  -->
    <form>
        <label> 4. {{ Dropdown[0] }} </label>
        {% if Dropdown[5].strip() == "1" %}
        <select id="Dropdown">
            <option value="choose" id="0 (you did not select anything)"> Choose </option>
            <option value="correct" id="1"> {{ Dropdown[1] }} </option>
            <option value="incorrect" id="2"> {{ Dropdown[2] }} </option>
            <option value="incorrect" id="3"> {{ Dropdown[3] }} </option>
            <option value="incorrect" id="4"> {{ Dropdown[4] }} </option>
        </select>

        {% elif Dropdown[5].strip() == "2" %}
        <select id="Dropdown">
            <option value="choose" id="0 (you did not select anything)"> Choose </option>
            <option value="incorrect" id="1"> {{ Dropdown[1] }} </option>
            <option value="correct" id="2"> {{ Dropdown[2] }} </option>
            <option value="incorrect" id="3"> {{ Dropdown[3] }} </option>
            <option value="incorrect" id="4"> {{ Dropdown[4] }} </option>
        </select>

        {% elif Dropdown[5].strip() == "3" %}
        <select id="Dropdown">
            <option value="choose" id="0 (you did not select anything)"> Choose </option>
            <option value="incorrect" id="1"> {{ Dropdown[1] }} </option>
            <option value="incorrect" id="2"> {{ Dropdown[2] }} </option>
            <option value="correct" id="3"> {{ Dropdown[3] }} </option>
            <option value="incorrect" id="4"> {{ Dropdown[4] }} </option>
        </select>
        {% else %}
        <select id="Dropdown">
            <option value="choose" id="0 (you did not select anything)"> Choose </option>
            <option value="incorrect" id="1"> {{ Dropdown[1] }} </option>
            <option value="incorrect" id="2"> {{ Dropdown[2] }} </option>
            <option value="incorrect" id="3"> {{ Dropdown[3] }} </option>
            <option value="correct" id="4"> {{ Dropdown[4] }} </option>
        </select>
        {% endif %}
    </form>
    <br>

    <!-- The 5th question will be based on what randomQ is, which was randomly chosen as one of the four types of questions on this quiz.  -->
    {% if randomQ == "MCQ" %}
    <form name="MCQ1" id="question5">
        <div>
            <p> 5. {{ MCQ1[0].strip() }} </p>
            {% if MCQ1[5].strip() == "A" %}
            <p> <input type="radio" name="MCQ1" value="correct" id="A"> {{ MCQ1[1] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="B"> {{ MCQ1[2] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="C"> {{ MCQ1[3] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="D"> {{ MCQ1[4] }} </p>
            <br>
            <br>

            {% elif MCQ1[5].strip() == "B" %}
            <p> <input type="radio" name="MCQ1" value="incorrect" id="A"> {{ MCQ1[1] }} </p>
            <p> <input type="radio" name="MCQ1" value="correct" id="B"> {{ MCQ1[2] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="C"> {{ MCQ1[3] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="D"> {{ MCQ1[4] }} </p>
            <br>
            <br>

            {% elif MCQ1[5].strip() == "C" %}
            <p> <input type="radio" name="MCQ1" value="incorrect" id="A"> {{ MCQ1[1] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="B"> {{ MCQ1[2] }} </p>
            <p> <input type="radio" name="MCQ1" value="correct" id="C"> {{ MCQ1[3] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="D"> {{ MCQ1[4] }} </p>
            <br>
            <br>

            {% else %}
            <p> <input type="radio" name="MCQ1" value="incorrect" id="A"> {{ MCQ1[1] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="B"> {{ MCQ1[2] }} </p>
            <p> <input type="radio" name="MCQ1" value="incorrect" id="C"> {{ MCQ1[3] }} </p>
            <p> <input type="radio" name="MCQ1" value="correct" id="D"> {{ MCQ1[4] }} </p>
            <br>
            <br>
            {% endif %}
        </div>
    </form>

    {% elif randomQ == "TFQ" %}
    <form name="TFQ1" id="question5">
        <div>
            <p> 5. {{ TFQ1[0] }} </p>
            {% if TFQ1[1].strip() == "True" %}
            <p> <input type="radio" name="TFQ1" value="correct" id="True"> True </p>
            <p> <input type="radio" name="TFQ1" value="incorrect" id="False"> False </p>
            <br>
            <br>

            {% else %}
            <p> <input type="radio" name="TFQ1" value="incorrect" id="True"> True </p>
            <p> <input type="radio" name="TFQ1" value="correct" id="False"> False </p>
            <br>
            <br>
            {% endif %}
        </div>
    </form>

    {% elif randomQ == "FITB" %}
    <form name="FITB1" id="question5">
        <div>
            <p> 5. {{ FITB1[0] }} </p>
            <br>
            <input type="text" name="{{FITB1[1]}}" id="UserAnswer1" autocomplete="off">
            <br>
            <br>
        </div>
    </form>

    {% else %}
    <form name="Dropdown1" id="question5">
        <label> 5. {{ Dropdown1[0] }} </label>
        {% if Dropdown1[5].strip() == "1" %}
        <select id="Dropdown1">
            <option value="choose" id="0 (you did not select anything)"> Choose </option>
            <option value="correct" id="1"> {{ Dropdown1[1] }} </option>
            <option value="incorrect" id="2"> {{ Dropdown1[2] }} </option>
            <option value="incorrect" id="3"> {{ Dropdown1[3] }} </option>
            <option value="incorrect" id="4"> {{ Dropdown1[4] }} </option>
        </select>
        <br>
        <br>

        {% elif Dropdown1[5].strip() == "2" %}
        <select id="Dropdown1">
            <option value="choose" id="0 (you did not select anything)"> Choose </option>
            <option value="correct" id="1"> {{ Dropdown1[1] }} </option>
            <option value="correct" id="2"> {{ Dropdown1[2] }} </option>
            <option value="incorrect" id="3"> {{ Dropdown1[3] }} </option>
            <option value="incorrect" id="4"> {{ Dropdown1[4] }} </option>
        </select>
        <br>
        <br>
        
        {% elif Dropdown1[5].strip() == "3" %}
        <select id="Dropdown1">
            <option value="choose" id="0 (you did not select anything)"> Choose </option>
            <option value="correct" id="1"> {{ Dropdown1[1] }} </option>
            <option value="incorrect" id="2"> {{ Dropdown1[2] }} </option>
            <option value="correct" id="3"> {{ Dropdown1[3] }} </option>
            <option value="incorrect" id="4"> {{ Dropdown1[4] }} </option>
        </select>
        <br>
        <br>
        
        {% else %}
        <select id="Dropdown1">
            <option value="choose" id="0 (you did not select anything)"> Choose </option>
            <option value="correct" id="1"> {{ Dropdown1[1] }} </option>
            <option value="incorrect" id="2"> {{ Dropdown1[2] }} </option>
            <option value="incorrect" id="3"> {{ Dropdown1[3] }} </option>
            <option value="correct" id="4"> {{ Dropdown1[4] }} </option>
        </select>
        <br>
        <br>
        
        {% endif %}
    </form>
    {% endif %}

    <!-- The submit button which when clicked, runs the check() javascript function.  -->
    <button class="button" type="button" onclick="check()">Submit</button>
{% endblock %}
